<aside class="bg-dark">
</aside>

<div class="text-center">
  <h2 >参加チーム一覧</h2>
  <hr>
  <h4>Comming soon...</h4>
</div>

<!-- <section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <%= render @teams %>
        </div>
    </div>
</section> -->
<br>
