<% provide :title, "チームを見る" %>
<aside class="bg-dark">
</aside>

<section class="container bg-brown text-section">
  <div class="text-center">
    <h2 >参加チーム一覧</h2>
    <hr>
    <div class="explain-area">
        <section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <%= render @teams %>
                </div>
            </div>
        </section>
    </div>
    <div style="margin-top:50px">
      <%= link_to "トップに戻る", root_path, :class => "btn btn-primary btn-xl",:style => "margin-top:20px" %>
    </div>
  </div>
</section>
<br>
