<aside class="bg-dark">
</aside>
<div class="container">
  <div class="text-center">
    <h2><%= @team.name %></h2>
    <hr>
    <%= image_tag "creative/portfolio/#{@team.id}.jpg", class: "img-responsive margin_auto_block", alt: @team.name %>
    <h3>事業概要</h3>
    <hr>
    <div class="text-left">
      <p><%= simple_format(@team.text) %></p>
    </div>
  </div>
</div>
<br>