<div class="col-lg-6 col-sm-6" style="padding:10px">
  <%= image_tag "creative/portfolio/2014summit#{n}.jpg", class: "img-responsive", alt: "" %>
  <div class="portfolio-box-caption">
    <div class="portfolio-box-caption-content">
    </div>
  </div>
</div>