<% provide :title,"Keio Business Leverage3.0 とは？" %>
<aside class="bg-dark">
</aside>
<section class="container bg-brown text-section">
  <div class="text-center">
    <h2>KBC Business Leverage3.0 とは？</h2>
    <hr>
    <div class="explain-area">
      <%= image_tag("creative/leverage_thumb.jpg", :style => "margin-bottom:20px") %>
      <p class="text-explain text-left">
        KBC Business Leverageは、起業を志す学生の「実現可能性」を短期間で大幅に引き上げるために一昨年から始まったプロダクト開発に主軸をおいた起業支援プログラムです。
        <hr>
      </p>
      <p class="text-explain text-left">
        日本を、世界を次のステージへ引き上げるアントレプレナーはいかにして生まれるのでしょうか。また、そうした人々を発掘し、その真価を発揮するためにはどんなことが必要となるのでしょうか。
      <br>
        約2ヶ月間に渡ってビジネスプランではなく、そのビジネスを実行するチームに焦点を当てた支援を行うKBC Business Leverageは、KBC実行委員会が7年間のビジネスコンテスト運営を経て出した、その問いに対する1つの答えです。
      </p>
      <hr>
      <p class="text-explain text-left">
        今年度のKBC Business Leverage3.0では、リーンスタートアップの手法を取り入れることで、柔軟且つスピーディーに事業を進展させていきます。また、今年からの新たな試みとしてプロダクト開発に注力した合宿を2回開催致します。
      </p>
    </div>
    <h2>支援内容</h2>
    <hr>
    <div class="explain-area">
      <p class="text-explain text-left">
      KBC Business Leverage3.0では、プログラムへ応募したチームの中から一次審査(書類審査)によって最大15チームが選出されます。その後、第一次行動期間を経て、再び選考をくぐり抜けたチームが最終報告会にむけて、活動をすすめていきます。それらのチームに対して資金とコミュニティの両側面から支援が提供されます。これらの支援の全ては無償で提供され、KBC実行委員会は支援に伴う一切のリターンを求めません。
      </p>
      <hr>
      <table class="table">
        <tr>
          <td class="btn btn-primary">資金の支援</td>
          <td class="text-left">
            2次選考を通過したチームには、2回のプロダクト開発に注力した合宿を提供するほか、最終報告会にて優秀なチームに対して協賛企業賞とKBCが提供するシリコンバレー研修合わせ総額100万円以上の提供を行います。
          </td>
        </tr>
        <tr>
          <td class="btn btn-primary">機会の支援</td>
          <td class="text-left">
            2段階の行動期間があり、プログラム期間中にプロトタイプ作成のための勉強会や、メンターによるフィードバック会、また1泊2日の合宿を2回開催致します。プログラム期間後にKBC賞を獲得したチームにはシリコンバレー研修をご用意しております。
          </td>
        </tr>
        <tr>
          <td class="btn btn-primary">つながりの支援</td>
          <td class="text-left">
            各チームに起業支援家が1名づつスーパーバイザーとして担当するほか、各業界の知見をもつメンターによるサポートやKBC実行委員会が10年間を通して培ったつながりが報告会の場を中心としてチームへ提供されます。
          </td>
        </tr>
      </table>
    </div>
    <h2>スケジュール</h2>
    <hr>
    <div class="explain-area">
      <div class="text-left">
        <table class="table margin_auto_block schedule_table">
          <tr>
            <td>募集期間</td>
            <td>9月1日(月) ~ 9月30日(水)</td>
          </tr>
          <tr>
            <td>一次選考結果発表</td>
            <td>10月7日(水)</td>
          </tr>
          <tr>
            <td>1st Launch Pad</td>
            <td>10月12日(月)</td>
          </tr>
          <tr>
            <td>第1回報告会</td>
            <td>10月18日(日)</td>
          </tr>
          <tr>
            <td>Demo Day</td>
            <td>10月31日(土)</td>
          </tr>
          <tr>
            <td>ビジネスモデル講習会</td>
            <td>11月8日(日)</td>
          </tr>
          <tr>
            <td>第2回報告会</td>
            <td>11月14日(土)</td>
          </tr>
          <tr>
            <td>Brushup Camp</td>
            <td>11月28日(土) ~ 11月29日(日)</td>
          </tr>
          <tr>
            <td>プレゼン練習会</td>
            <td>12月6日(日)</td>
          </tr>
          <tr>
            <td>KBC Summit</td>
            <td>12月13日(日)</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>KBC Summit</h2>
        <hr>
        <a href="/summit" class="btn btn-primary btn-xl">KBC Summit の詳細を見る</a>
        <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>参加チーム一覧</h2>
        <hr>
        <%= link_to "詳細はこちら", teams_path, :class => "margin_auto_block btn btn-primary btn-xl" %>
      </div>
    </div>
    <div style="margin-top:50px;border-top:1px dashed">
      <%= link_to "トップに戻る", root_path, :class => "btn btn-primary btn-xl",:style => "margin-top:20px" %>
    </div>
  </div>
</section>
<br>