<% provide :title, "KBC Summit 概要" %>
<aside class="bg-dark">
</aside>
<section class="container bg-brown text-section">
  <div class="text-center">
    <h2>KBC Summit 概要</h2>
    <hr>
    <div class="explain-area">
      <img src="???.jpg" alt="comming soon...">
      <p>comming soon...</p>
    </div>
    <h2>スケジュール</h2>
    <hr>
    <div class="explain-area">
      <p>comming soon...</p>
    </div>
    <h2>場所</h2>
    <hr>
    <div class="explain-area">
      <p>comming soon...</p>
    </div>
    <h2>参加チーム</h2>
    <hr>
    <div class="explain-area">
      <%= link_to "チーム一覧を見る", teams_path, :class => "btn btn-primary btn-xl" %>
    </div>
  </div>
</section>
<br>