<% provide :title, "KBC Summit 概要" %>
<aside class="bg-dark">
</aside>
<section class="container bg-brown text-section">
  <div class="text-center">
    <h2>KBC Summit 概要</h2>
    <hr>
    <div class="explain-area">
      <%= image_tag("creative/summit_thumb.jpeg", :class => "img_thumb") %>
      <p class="text-explain text-left">
         これからの世界を牽引するスタートアップはここから生まれる...「ビジネスコンテスト」の次のステージへ!!!
         <br>
         ビジネスコンテストが普遍化する今日、紙にビジネスモデルを書き落とす事に満足してはいないでしょうか。
         起業したいという意志を持ちつつも、実際の行動には移せてはいない学生が多いのではないでしょうか。
      </p>
      <hr>
      <p class="text-explain text-left">
         これらの思いから、7年間ビジネスコンテストを開催してきたKBC実行委員会は満を持して、昨年度から短期集中型の起業支援プログラム ”KBC Business Leverage” を企画しました。
         <br>
         Business Leverageの開催も今回で3回目となります。
      </p>
      <hr>
      <p class="text-explain text-left">
         着飾ったプレゼンテーションはもう十分です。
         <br>
         KBC Summitでは9月より3ヶ月間に渡って支援を受けてきた学生起業家チームがその事業のすべてを露わにします。
         <br>
         2度の審査会を経て勝ち抜いたチームは、3ヶ月間に渡って起業支援のプロであるスーパーバイザー、メンターによる密着型のサポートを受け、各々の事業を推進してきました。KBC Summitはチームが3ヶ月間で築き上げた成果を披露し、次のステップへと進むためのイベントです。ご観覧の皆様へ学生起業のパワーと可能性をお伝えいたします！
      </p>
    </div>
    <h2>みどころ</h2>
    <hr>
    <div class="explain-area">
      <p>comming soon...</p>
    </div>
    <h2>詳細</h2>
    <hr>
    <div class="explain-area">
      <div  class="fix-explain-title-margin">
        <i class="fa fa-4x fa-calendar-check-o wow bounceIn text-primary"></i>
        <h3>日時</h3>
        <p>2014年12月13日(日) 13:00～18:15（予定）</p>
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h3>場所</h3>
            <p><a href="http://www.keio.ac.jp/ja/access/mita.html#prg2">慶應義塾大学 三田キャンパス北館ホール</a></p>
            <p>
              → <a href="https://www.google.co.jp/maps/place/%E3%80%92108-0073+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E4%B8%89%E7%94%B0%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%95+%E5%8C%97%E6%96%B0%E9%A4%A8%E3%83%9B%E3%83%BC%E3%83%AB/@35.6499816,139.7411124,17z/data=!3m1!4b1!4m2!3m1!1s0x60188bbabce4afa5:0xc2edb8f2707f5ce6?hl=ja">Google マップで見る</a>
            </p>
            <hr>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <i class="fa fa-4x fa-train wow bounceIn text-primary"></i>
            <h3>交通アクセス</h3>
            <h5>・田町駅（JR山手線／JR京浜東北線）　徒歩11分</h5>
            <h5>・三田駅（都営地下鉄浅草線／三田線） 徒歩10分</h5>
            <h5>・赤羽橋駅（都営地下鉄大江戸線） 　　徒歩11分</h5>
            <hr>
          </div>
        </div>
        <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
        <h3 id="price-detail">観覧費</h3>
        <hr>
        <div class="text-left">
          <table class="table margin_auto_block price-table">
            <tbody>
            <tr>
              <td>社会人（懇親会付き）</td>
              <td>5000円</td>
            </tr>
            <tr>
              <td>社会人（観覧のみ）</td>
              <td>2000円</td>
            </tr>
            <tr>
              <td>大学生・大学院生（懇親会付き）</td>
              <td>1500円</td>
            </tr>
            <tr>
              <td>大学生・大学院生（観覧のみ）</td>
              <td>1000円</td>
            </tr>
            <tr>
              <td>高校生（懇親会付き）</td>
              <td>500円</td>
            </tr>
            <tr>
              <td>高校生（観覧のみ）</td>
              <td>無料</td>
            </tr>
            </tbody>
          </table>
          <p class="text-center">
            <a href="https://peatix.com/sales/event/127900/tickets" class="btn btn-primary btn-xl">お申し込みはこちらから</a>
          </p>
          <p class="notice-section">
           ※ 懇親会へ参加される場合は別途徴収いたします。懇親会費は未定です。
          </p>
          <p class="notice-section">
           ※ 懇親会の場所は慶應義塾大学三田キャンパスの北館内ファカルティクラブです。KBC Summit会場からすぐの場所です。
          </p>
          <p class="notice-section">
           ※ プログラムの内容は現時点での予定です。告知なく変更される場合がございますので、予めご了承ください。
          </p>
          <p class="notice-section">
           ※KBC Summit当日は学生証・名刺・保険証等の身分を証明できるものをお持ちください。本人照合と名札に使用する場合がございます。
          </p>
        </div>
      </div>
    </div>
    <h2>参加チーム</h2>
    <hr>
    <%= link_to "チーム一覧を見る", teams_path, :class => "btn btn-primary btn-xl" %>
  </div>
</section>
<br>