<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">KBC Summit とは？</h2>
                <hr class="light">
                <p class="text-faded">
                    KBC Summitは10月より2ヶ月間に渡り支援を受けた5組の学生起業家チームの集大成になります。
                    <br>
                    学生起業家の発表に乞うご期待！
                </p>
<!--                 <hr class="light">
                <p class="text-faded">
                    ※プログラムの内容は現時点での予定です。告知なく変更される場合がございますので、ご了承ください。
                </p> -->
                <a href="#services" class="btn btn-default btn-xl page-scroll">詳細を見る</a>
            </div>
        </div>
    </div>
</section>

