<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">KBC Summit とは？</h2>
                <hr class="light">
                <p class="text-faded">
                    我々KBC実行委員会が主催する
                    <br>
                    Keio Business Leverage3.0最終発表会になります
                    <br>
                </p>
                <a href="/leverage" class="btn btn-default btn-xl">Keio Business Leverage3.0 とは？</a>
                <hr class="light">
                <p class="text-faded">
                    <br>
                    KBC Summitは10月より2ヶ月間に渡り本団体が支援をしてきた5組の学生起業家チームの集大成になります。
                    <br>
                    学生起業家の発表に乞うご期待！
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">詳細を見る</a>
            </div>
        </div>
    </div>
</section>

