<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>参加をお待ちしております</h2>
            <a href="http://peatix.com/event/127900/published" class="btn btn-default btn-xl wow tada">申し込みはこちらから</a>
        </div>
    </div>
</aside>

