<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>KBC Summit 2015</h1>
            <h3>~KBC Business Leverage3.0 最終報告会~</h3>
            <hr class="light">
            <a href="#about" class="btn btn-primary btn-xl page-scroll">KBC Summit とは？</a>
            <br>
            <%= link_to "参加チームを見る", teams_path, :class => "btn btn-primary btn-xl", :style => "margin-top:20px;" %>
        </div>
    </div>
</header>

