<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-title">
                <h1>KBC Summit 2015</h1>
                <h3>~KBC Business Leverage3.0 最終報告会~</h3>
            </div>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll btn-margin">KBC Summit とは？</a>
            <%= link_to "参加チームを見る", teams_path, :class => "btn btn-primary btn-xl btn-margin" %>
            <a href="#sponsor" class="btn btn-primary btn-xl page-scroll btn-margin">スポンサー覧を見る</a>
        </div>
    </div>
</header>

