<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-title">
                <h1>KBC Summit 2015</h1>
                <h3>~KBC Business Leverage3.0 最終報告会~</h3>
                <a href="#about" class="btn btn-default btn-xl page-scroll">KBC Summit とは？</a>
            </div>
            <br>
            <%= link_to "参加チームを見る", teams_path, :class => "btn btn-primary btn-xl btn-margin" %>
            <a href="/summit" class="btn btn-primary btn-xl page-scroll btn-margin">KBC Summit の概要</a>
            <a href="/speakers" class="btn btn-primary btn-xl page-scroll btn-margin">登壇者を見る</a>
        </div>
    </div>
</header>