<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">KBC Summit 詳細</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar-check-o wow bounceIn text-primary"></i>
                    <h3>日時</h3>
                    <p class="text-muted">
                        2014年12月13日(日) 14:00~18:10
                        <br>
                        (終了後、懇親会もございます)
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>場所</h3>
                    <p class="text-muted">
                        慶應義塾大学 三田キャンパス
                        <br>
                        <a href="http://www.keio.ac.jp/ja/access/mita.html#prg2">北館ホール</a>
                        <!-- <br>
                        <br>
                        <ul class="text-muted text-center">
                            <li>田町駅（JR山手線／JR京浜東北線）　徒歩8分</li>
                            <li>三田駅（都営地下鉄浅草線／三田線）徒歩7分</li>
                            <li>赤羽橋駅（都営地下鉄大江戸線）　　徒歩8分</li>
                        </ul> -->
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>観覧費</h3>
                    <p class="text-muted">有料になります
                    <br>
                    <a href="/summit#price-detail">詳細はこちら</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-phone wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>お申し込み</h3>
                    <p class="text-muted">12月12日までに<a href="http://peatix.com/event/127900/published">こちら</a>から</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>定員</h3>
                    <p class="text-muted">250人を予定しています</p>
                    <p class="text-muted">お申し込みはお早めに</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">

                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/summit" class="btn btn-primary btn-xl">KBC Summitの詳細を見る</a>
        </div>
    </div>
</section>

