<% provide :title, "スケジュールを確認する" %>
<aside class="bg-dark">
</aside>
<section class="container bg-brown text-section">
  <div class="text-center">
    <table class="table">
      <% @plans.each do |p| %>
        <tr>
          <td><%= link_to "#{p.dinner_name}様", plan_path(p.id) %></td>
          <td><%= "#{p.start_month}月#{p.start_day}日#{p.start_time}時から" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
<br>