<% provide :title, "日程を追加しました" %>
<aside class="bg-dark">
</aside>
<section class="container bg-brown text-section">
  <div class="text-center">
    <h3><strong><%= @member.name %>さん</strong></h3>
    <h4><%= @member.plan.dinner_name %>さんの御礼周りに参加予定です</h4>
  </div>
</section>
<br>